

.cupAccumBorder {
    display: flex;
    height: 2rem;
    overflow: hidden;
    line-height: 0;
    /* font-size: .75rem; */
    border: solid 2px;
    border-color: #F4CC6B ;
    background-color:#FFFFFF;
    border-radius: .70rem;
    margin-bottom: 50px;

    top: 25%;
    position: absolute;
    z-index: 1;
}


.circleAroundCup {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    border: #F4CC6B solid 2px;
    border-style: dashed;
    font-size: 15px;
    background-color: #FFFFFF;
    color: red;
    text-align: center;
    /* background:#8B008B; */

    position: absolute;
    /* bottom: 0; */
    z-index: 2;
    font-weight: bold;
  }

  .AccumulatedCupsFont{
      /* font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 58px/76px var(--unnamed-font-family-assistant); */
      font: normal normal bold 58px/76px ;
     font-family:  Assistant;
  }

  .sumOfAllCupsFont{
    font: normal normal normal 28px/37px ;
    font-family:  Segoe UI;
  }

  .cupsText{
    font: normal normal 600 38px/36px; 
    font-family:  Assistant;
    margin-Right: 70px;
    font-size: 20px;
    margin-top: 13px;
    margin-bottom: 0px;
  }