.backStyle{
    background-image: url('../../Photos/BackGroundLeftRoad.svg'), url('../../Photos/backGroundWhatsApp1.svg') ;
    /* background-image: url('../../Photos/BackGroundLeftRoad.svg') ; */
    /* background-image: url('../../Photos//backGroundWhatsApp1.svg'), ; */
    /* background-position: right bottom, left top; */
    background-position: bottom, left top;
    background-repeat: no-repeat, repeat;
    /* background-size:500px 1000px, contain ; */
}

.chapterName{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 14px/16px var(--unnamed-font-family-assistant);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: right;
font: normal normal bold 14px/16px Assistant;
letter-spacing: 0px;
color: #000000;
/* font-family: 'Assistant', sans-serif; */
margin-bottom: 0px;
}

.chapterNameSecondery{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 14px/16px var(--unnamed-font-family-assistant);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: right;
    font: normal normal normal 14px/16px Assistant;
    letter-spacing: 0px;
    color: #000000;
}

.headerTable{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 20px/23px var(--unnamed-font-family-avigul-fm);
letter-spacing: var(--unnamed-character-spacing-0);
font: normal normal bold 20px/23px 'Avigul';
font-family: 'Avigul';
letter-spacing: 0px;
color: #24A3AA;
opacity: 1;
text-align: right;

}

.Trow1:hover{
    background-color: #43C2CF ;
}