.containerText{
    width: 100%;
    font: normal normal normal 15px/20px Assistant;
    /* font-size: 12px; */
    color: black;
    direction: rtl;
    margin-top: 50px;
    text-align: right;
}

.textFeadback{
    font-family: Assistant;
    font-size: 11px;
    color: black;
}

.HeaderFeadback{
    font-size: 40px;
    font-weight: bold;
    font-family: Avigul FM;
    letter-spacing: 0px;
    text-align: right;
    line-height: 35px;

    /* color:  #0088CE; */
    /* font-size: xx-large; */
}

.secondryHeaderFeadback{
    font: normal normal bold 10px/10px;
    font-size: 20px;
    font-weight: 600;
    font-family: Assistant;
    letter-spacing: 0px;
    text-align: right;
}