
.QuickFillCupsBtn{
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border: 4px solid #F4CC6B;

    border-radius: 66px;
    opacity: 1;
    text-align: center;
    width: 100%;
    /* height: 30px;    */

    /* font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 37px/35px var(--unnamed-font-family-assistant); */
    font: normal normal 600 20px/18px Assistant;
    letter-spacing: var(--unnamed-character-spacing-0);
    letter-spacing: 0px;
    color: #858585;
    /* padding: 10px; */
    padding-top: 6px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.QuickFillCupsBtn:hover{
    cursor: pointer;
    background: #e9e5e5;
}